*{
    margin: 0;
    padding: 0;
}

.buydetails img{
    height: 400px;
    width: 300px;
    margin: 50px;
}

.buydetails h1{
    margin: 10px 0px;
}

.buydetails p{
    margin: 10px 0px;
}

.buydetails button{
    width: 100px;
    height: 50px;
    background-color: green;
}