*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.singleshow{
    display: flex;
    justify-content: center;
}

.singleshow img{
    width: 300px;
}

.singleshow .singlshowinfo{
    margin-left: 20px;
    border: 0.2px solid black;
    box-shadow: 3px 3px 0px 0px gray;
    height: 100%;
}

.singleshow .singlshowinfo p{
    font-size: 20px;
}

.singleshow .singlshowinfo .summary{
    max-width: 600px;
}