*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.singleshow{
    display: flex;
    justify-content: center;
}

.singleshow img{
    width: 200px;
    height: 300px;
}

.singleshow .singlshowinfo{
    margin-left: 20px;
    border: 0.2px solid black;
    box-shadow: 3px 3px 0px 0px gray;
}

.singleshow .singlshowinfo p{
    font-size: 20px;
}

.singleshow .singlshowinfo .summary{
    max-width: 600px;
    margin-bottom: 20px;
}

.singleshow .singlshowinfo .buyticket{
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.singleshow .singlshowinfo a span{
    font-size: 20px;
    background-color: green;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 10px;
    transition: 0.5s;
}

.singleshow .singlshowinfo a span:hover{
    font-size: 21px;
    background-color: rgb(2, 0, 128);
    color: white;
}